body {
    background-color: #222;
    h1, h2, h3, h4, h5, h6, p {
        color: #ddd;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    border-radius: 10px;
    display: block;
    padding: 8px;
    margin: 2px;
    background-color: #1e1e1e;
  }
